<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"      th:href="@{/webjars/bootstrap/5.0.2/css/bootstrap.min.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.min.js}"></script>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>List of Ingredients</title>
</head>
<body>
<div style="margin-top: 1%; margin-bottom: 1%;" class="container">
    <div class="row">
        <div class="col-lg-6 offset-3">
            <div class="card card-text-white border-success">
                <div class="card-header">
                    <h3>Ingredients</h3>
                    <buttun class="btn btn-primary" type="button">New</buttun>
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipe.ingredients)}">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>ASD1</td>
                                <td><a href="#"> View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>

                            </tr>
                            <tr th:remove="all">
                                <td>1234</td>
                                <td>ASD2</td>
                                <td><a href="#"> View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>

                            </tr>
                            <tr th:each="ingredient : ${recipe.ingredients}">
                                <td th:text="${ingredient.id}">1234</td>
                                <td th:text="${ingredient.getAmount()} + ' ' + ${ingredient.uom.getDescription()} + ' ' + ${ingredient.getDescription()}">
                                    ASD2
                                </td>
                                <td><a href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/show'}">
                                    View</a></td>
                                <td><a href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">Update</a>
                                </td>
                                <td><a href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">Delete</a>
                                </td>

                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>